
/*
.conversation-item {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    margin-bottom: 15px;
    
}
.conversation-item.me {
    flex-direction: row;
}
.conversation-item-side {
    margin-left: 8px;
}
.conversation-item.me .conversation-item-side {
    margin-right: 8px;
}
.conversation-item-image {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}


.conversation-item-content {
    width: 100%;
}
.conversation-item-wrapper:not(:last-child) {
    margin-bottom: 6px;
}
.conversation-item-box {
    max-width: 720px;
    position: relative;
    margin-left: auto;
    display: flex;
}
.conversation-item.me .conversation-item-box {
    margin-left: unset;
}
.conversation-item-text {
   
    padding: 4px 9px 2px;
    background-color: var(--white);
    box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .1);
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    margin-left: 32px;
    display: flex;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /* font-style: normal; 
  
}
*/
/*
.MessageWithImg{
    max-height: 320px;
    width: fit-content;
    max-width: 300px;
    padding: 2%;
    border-radius: 11px;
}

.conversation-item-text-receiver{ 
       padding: 4px 9px 2px;
       background-color: var(--white);
       box-shadow: 0 2px 12px -2px rgba(0, 0, 0, .1);
       font-size: 14px;
       border-radius: 6px;
       line-height: 1.5;
       margin-left: 32px;
       display: flex;
       flex-direction: column; 
       width: fit-content;
       /* justify-content: flex-end;
       align-items: end; 

     
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        /* font-style: normal; 
}


.conversation-item-text-receiver p{
    margin-bottom: 0px;
}
.conversation-item.me .conversation-item-text {
    margin-left: unset;
    margin-right: 32px;
    width: fit-content;
}
.conversation-item.me .conversation-item-text {
    background-color: var(--emerald-500);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
    color: rgba(255, 255, 255, .8);
}
.conversation-item-time {
    font-size: 10px;
    color: var(--slate-400);
    display: block;
    text-align: right;
    margin-top: 4px;
    line-height: 1;
}
    */
/*       

.conversation-item-time-img{
   align-self: flex-end;
    font-size: 10px;
    color: white;
    display: block;
    text-align: right;
   margin-bottom: 4px;
    line-height: 1;
 

}

.conversation-item.me .conversation-item-time {
    color: rgba(255, 255, 255, .7);
    padding-inline-start: 11px;
    padding-block-start: 8px;
}
  .conversation-item-time-receiver {
    color: rgba(11, 8, 8, 0.7);
    padding-inline-start: 11px;
    padding-block-start: 8px;
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
}   
.conversation-text-image{
    display: flex;
    flex-direction: column;
   
}
.messageText{
    max-width: 300px;
    width: fit-content;
    flex: 1;
    word-Wrap: break-word;
    overflow-wrap: break-word;
    white-space:pre-wrap; 
    margin-bottom: 5px; 
}
.conversation-item-time-receiver-img{
    color: rgba(11, 8, 8, 0.7);
    padding-inline-start: 11px;
    padding-block-start: 8px;
    font-size: 0.6rem;
    align-self: flex-end;
}
/* 
/* for sended message 
.conversation-item-dropdown { */
    /* position: absolute;
    top: 0;
    left: 0;
    
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown {
    opacity: 1;
    visibility: visible;
}


.conversation-item-dropdown-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--white);
    outline: transparent;
    border: 1px solid var(--slate-200);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.conversation-item-dropdown-toggle:hover {
    background-color: var(--emerald-500);
    color: var(--white);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
}
.conversation-item-dropdown-toggle:active {
    background-color: var(--emerald-600);
}
.conversation-item-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 4px 0;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown.active .conversation-item-dropdown-list {
    position: absolute;
    top: 0;
    left: 56%;
    max-width: 93px;
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-list a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.conversation-item-dropdown-list a:active {
    background-color: var(--slate-200);
}
.conversation-item-dropdown-list a i {
    font-size: 16px;
    margin-right: 8px;
} 



*/


/* for received message  */
/* .conversation-item-dropdown-receiver {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-receiver {
    left: unset;
    right: 0;
}
.conversation-item-wrapper:hover .conversation-item-dropdown-receiver {
    opacity: 1;
    visibility: visible;
}
.conversation-item-dropdown-receiver-toggle {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: var(--white);
    outline: transparent;
    border: 1px solid var(--slate-200);
    cursor: pointer;
    transition: all .15s ease-in-out;
}
.conversation-item-dropdown-receiver-toggle:hover {
    background-color: var(--emerald-500);
    color: var(--white);
    box-shadow: 0 2px 12px -2px var(--emerald-500);
}
.conversation-item-dropdown-receiver-toggle:active {
    background-color: var(--emerald-600);
}
.conversation-item-dropdown-receiver-list {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--white);
    z-index: 10;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .1);
    border-radius: 4px;
    padding: 4px 0;
    list-style-type: none;
    opacity: 0;
    visibility: hidden;
    transform: scale(.9);
    transform-origin: left top;
    transition: all .15s ease-in-out;
}
.conversation-item.me .conversation-item-dropdown-receiver-list {
    left: unset;
    right: 0;
}
.conversation-item-dropdown-receiver.active .conversation-item-dropdown-receiver-list {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.conversation-item-dropdown-receiver-list a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--slate-400);
    font-size: 13px;
    padding: 6px 12px;
}
.conversation-item-dropdown-receiver-list a:hover {
    background-color: var(--slate-100);
    color: var(--slate-600);
}
.conversation-item-dropdown-receiver-list a:active {
    background-color: var(--slate-200);
}
.conversation-item-dropdown-receiver-list a i {
    font-size: 16px;
    margin-right: 8px;
}

  */