.chat-content {
  padding-left: 64px;
  height: 100%;
  position: relative;
}
.content-sidebar {
  /* width: 256px; */
  width: 300px;
  /* background-color: var(--white); */
  background-color: #302e2e;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  top: 0;
  left: 64px;
}
.content-sidebar-title {
  font-size: 20px;
  font-weight: 600;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  color: cyan;
}
.Chats-Delete-All{
  font-size: 1.7rem;
  margin-left: 115px;
  margin-top: 3px;
}
.content-sidebar-form {
  position: relative;
  padding: 0 16px;
}
.content-sidebar-input {
  padding: 8px 16px;
  background-color: var(--slate-100);
  border: 1px solid var(--slate-300);
  outline: none;
  width: 100%;
  border-radius: 4px;
  padding-right: 32px;
  font-size: 14px;
}
.content-sidebar-input:focus {
  border-color: var(--slate-400);
}
.content-sidebar-submit {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 32px;
  color: var(--slate-400);
  background-color: transparent;
  outline: transparent;
  border: none;
  cursor: pointer;
  transition: color .15s ease-in-out;
}
.content-sidebar-submit:hover {
  color: var(--slate-600);
}



.content-messages {
  overflow-y: auto;
  /* height: 100%; */
  height: fit-content;
  margin-top: 16px;
  margin-left: 10px;
  margin-right: 10px;

}
.content-messages-list {
  list-style-type: none;
  padding: 8px 0;
  border-radius: 10px;
}


.content-messages-list > * > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  /* color: var(--slate-700); */
  color: #f6f6f6;
  padding: 6px 16px;
  border-radius: 5px;
}
.content-messages-list > * > a:hover {
  background-color: #4c657d;
  color: white;
}
.content-messages-list > .active > a {
  background-color: var(--slate-100);
  /* color: white; */
}
.content-message-title {
  margin-left: 16px;
  margin-right: 16px;
  color: var(--slate-400);
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 2px;
  position: relative;
}
.content-message-title > * {
  position: relative;
  z-index: 1;
  padding: 0 4px 0 0;
  padding: 3px;
  background-color: var(--white);
  border-radius: 5px;
}
.content-message-title::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 1px solid var(--slate-300);
  z-index: 0;
}
.content-message-image {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
  margin-right: 12px;
}
.content-message-info {
  display: grid;
  margin-right: 12px;
  width: 100%;
  font-size: 1rem;
}

.content-message-text {
  font-size: 13px;
  color: var(--slate-400);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.content-message-more {
  text-align: right;
}
.content-message-unread {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--emerald-500);
  padding: 2px 4px;
  border-radius: 4px;
}
.content-message-time {
  font-size: 12px;
  color: var(--slate-400);
  font-weight: 500;
}




@media screen and (max-width: 767px) {
  .conversation,
  .chat-content {
      padding-left: unset;
  }
  .content-sidebar {
      left: unset;
      z-index: 10;
      width: 100%;
  }
  .chat-sidebar-menu > * > a::before {
      left: 50%;
      transform: translateX(-50%);
      bottom: 100%;
      top: unset;
  }
  .chat-sidebar-menu > * > a:hover::before {
      bottom: calc(100% + 8px);
      left: 50%;
  }
  .chat-content {
    position: relative;
    height: calc(100% - 48px);
}
.conversation.active {
    position: relative;
    z-index: 20;
}
.conversation-back {
    display: flex;
}
.conversation-default.active {
    display: none;
    padding: 16px;
}
}