
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Protest+Revolution&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.create-post-main{
    width: 100vw;
    height: 100vw;
    
    background-color: rgba(205, 232, 229, 0.5); 
    backdrop-filter: blur(4px);
}



.sideBar-Visible{
  display: none;
}
hr{
  padding: 0;
  margin: 0;
  height: 1px;
  color: #b1bebd;
}
 .create-post{
  border-radius: 10px;
  width: 480px;
  height: 80vh;
  max-height: 520px;
  background-color: #EEF7FF;
  border:2px yellow solid;
 margin: 0 auto;
  /* transform: translate(50%, 50%); */
   transform: translateY(20%);
  color: black;
} 




.create-post-page-title{
  padding: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 1.3rem;
  text-align: center;
}

.input-file-box{
  margin: 20px auto;
  text-align: center;
  padding: 70px 50px;
  align-items: center;
  width: 85%;
 
  display: flex;
  flex-direction: column;
  background-color: #97E7E1;
  border-radius: 7px;
}
.input-file-box:hover{
  background-color: #41C9E2;
}
.photo-video-icon{
  font-size: 2rem;
}
.input-file-box-preview {
  margin: 20px auto;
  align-items: center;
  width: 85%;
  max-width: 100%;
  background-color: #97E7E1;
  border-radius: 7px;
  height: fit-content;
  max-height: 26vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.input-file-box-preview img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 7px;
  object-fit: cover;
  display: block;
}
.photo-video-preview{
  width: 85%;
  height: fit-content;
}
.photo-video-cancel{
  position:absolute;
  top: 156px;
  right: 40px;
  color: #171313;
}

.photo-video-cancel-1{
  position:absolute;
  top: 0px;
  right: 0px;
  color: #FF5580;
}
.photo-video-descreption{
  width: 90%;
  height: fit-content;

  margin: auto;
}

.photo-video-descreption textarea{
  width: 100%;
  outline: none;
  resize: none;
  height: 80px;
  /* max-height: 100px; */
  padding: 10px 8px 0px 8px;
  background-color: transparent;
  margin-bottom: 10px;
}
.post-btn{
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 5px 0px;
  font-weight: bold;
  background-color: #EEEEEE;
  color: #D1D8C5;
  border-radius: 5px;
}
.post-btn-exist{
  border-radius: 5px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 5px 0px;
  font-weight: bold;
  background-color: #4a74d6;
  color: #D1D8C5;
}

 
  @media screen and (max-width: 767px) {

    .create-post-main {
      background-color: transparent;
      height: calc(100vh - 55px);
     
    }

    .create-post {
      width: 92vw;
      min-height: 500px;
      /* height: min(80vh, 650px); */
      height: calc(90vh - 30px);
      max-height: 600px;
      background-color: #EEF7FF;
      border: 2px solid yellow;
      margin: 2vh auto;
      overflow-y: scroll;
      transform: translateY(4%);
      color: black;
    }
  
    .input-file-box {
      padding: 12vh 5vw;
      width: 82vw;
      min-height: 30vh;
      position: relative;
    }
  
    .input-file-box-preview {
      margin: 20px auto;
      align-items: center;
      width: 85%;
      max-width: 100%;
      background-color: #97E7E1;
      border-radius: 7px;
      height: fit-content;
      min-height: 30vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    
    
    .photo-video-cancel {
      position: absolute;
      top: 1px;
      right: 1px;
    }
   

    .photo-video-descreption{
     
      height: 16vh;
    
      margin: auto;
    }
    
    .photo-video-descreption textarea{
      width: 100%;
      outline: none;
      resize: none;
      height: 15vh;
      /* max-height: 100px; */
      padding: 10px 8px 0px 8px;
      background-color: transparent;
      margin-bottom: 10px;
    }
    .post-btn{
      position: absolute;
       left: 4%;
       right: 4%;
       padding: 10px 0px;
      bottom: 15px;
    }

    .post-btn-exist{
      position: absolute;
      left: 4%;
      right: 4%;
      padding: 10px 0px;
     bottom: 15px;
    }

    .sideBar-Visible{
      display: flex;
    }
  }






